<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

</script>
<style>

</style>
<body>
<p>text some text more text</p>
<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<a href="http://yandex.ru">click one me to see my last photo</a>
<img src="https://mtdata.ru/u23/photo45B5/20581144087-0/original.jpg">

<table>
    <tr>
        <th>Column1</th>
        <th>Column2</th>
        <th>Column3</th>
    </tr>
    <tr>
        <td>Info 1</td>
        <td>Info 2</td>
        <td>Info 3</td>
    </tr>
    <tr>
        <td>Info 1</td>
        <td>Info 2</td>
        <td>Info 3</td>
    </tr>
</table>
</body>
</html>